data/yearly/
data/solar_measurements/
data/2003_2016.csv
data/ivanpah_measurements.csv
data/ivanpah_measurements_modeling.csv
dni_forecasting_review.pdf
dni_forecasting_with_ann.pdf
test/__pycache__/*
test/.pytest_cache/*
src/__pycache__/*
predicting_DNI_poster_V3.0.pdf
